SPRING_PROFILES_ACTIVE=local

SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3306/employee_management_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Ho_Chi_Minh
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=

JWT_SECRET=

INITIAL_ADMIN_ENABLED=false
INITIAL_ADMIN_USERNAME=
INITIAL_ADMIN_PASSWORD=

//copy .env.example .env sau đó thay các  trường các tên các mật khẩu key vào .env