### VS Code ###
.vscode/

.env
.env.local
.env.prod

### Postman ###
docs/postman/
docs/plans/

### IntelliJ IDEA ###
.idea/

backend/uploads/backups

### Google OAuth & Gmail API ###
/credentials.json
/backend/credentials/
/tokens/
/backend/tokens/

